<!-- -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!--Custom CSS  --> 
    <link rel="stylesheet" href="css/styles.css" /> 
    <title>Update User</title>
</head>
<body>
    <h1>Update User</h1>
    <form action="{{ url_for('landing') }}">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password" required><br>
        <button href="/landing" class="btn btn-success">Update</button>    
    </form>
</body>
</html>
